<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>electric life</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/w3.css}" />
<link rel="stylesheet" th:href="@{/css/w3-theme-ev.css}" />
<link rel="stylesheet" th:href="@{/css/cgoing.css}" />
<script type="text/javascript" th:src="@{/js/w3.js}"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
	<div id="wrapper">
		<div class="w3-auto">
			<!-- common 헤더 -->
			<div th:replace="common_header :: header"></div>

			<section class="w3-row">
				<!-- Grid Column(2/12 : Left) -->
				<div class="w3-col m2 l2">
					<!-- common 사이드바 -->
					<!-- <div th:replace="common_sidebar :: header"></div> -->
				</div>
				<!-- Grid Column(10/12 : Right) -->
				<div id="" class="w3-col m10 l10">
					<!-- common 자유게시판 -->
					<!-- <div th:replace="common_bbs_free :: header"></div> -->
					<div class="w3-panel w3-bottombar">
						<p class="w3-large">구매 페이지</p>
					</div>
					<!-- 글쓰기 폼 -->
					<form action="#" id="frm" method="post">
						<input type="hidden" name="quantity" th:value="${quantity}" /> <input
							type="hidden" name="id" th:value="${id}" /> <input type="hidden"
							name="p_num" th:value="${p_num}" /> <input type="hidden"
							name="totalPrice" th:value="${p_price}*${quantity}" /> <input
							type="hidden" name="userGrade" th:value="${session.loginUser.lv}" />
						<input type="hidden" name="usingPoint" id="usingPoint" value="0"/>
						<table class="w3-table w3-bordered">
							<tr>
								<td>구매자</td>
								<td><span th:text="${id}"></span></td>
							</tr>
							<tr>
								<td>물품 목록</td>
								<td><span th:text="${p_name}"></span></td>
							</tr>
							<tr>
								<td>갯수</td>
								<td><span th:text="${quantity}"></span></td>
							</tr>
							<tr>
								<td>가격</td>
								<td><span th:text="${p_price}*${quantity}"></span></td>
							</tr>
							<tr>
								<td>포인트 <br />잔여 : <span class="restpoint"></span>
								</td>
								<td><label><input type="radio" name="usePoint"
										value="disusePoint" checked>포인트로 구매 안 함 </label> 
										<label><input type="radio" name="usePoint" value="usePoint"> 포인트로 구매 <span class="w3-text-red"><span class="dontUsePoint"></span></span>
								</label></td>
							</tr>
						</table>
						결제 금액 : <span class="finalAccount"></span>
						<!-- 버튼 -->
						<div class="w3-panel w3-right">
							<input type="button" value="뒤로가기"
								th:onclick="|location.href='@{detail(num=${p_num})}'|"
								class="w3-button w3-white w3-border w3-border-theme w3-round" />
							<input type="submit" value="구매완료"
								class="w3-button w3-border w3-border-theme w3-round" />
						</div>
					</form>
				</div>
			</section>
		</div>
		<!-- common 푸터 -->
		<div th:replace="common_footer :: footer"></div>
	</div>
	<script th:inline="javascript">	
	$.ajax({
		url: '/restPoint', //Controller에서 요청 받을 주소
		type: 'post', //POST 방식으로 전달
		data: {
			id: [[${id}]]
		},
		success: function(result) { //컨트롤러에서 넘어온 cnt값을 받는다 
			$("#frm").attr("action", "/buyProduct");
			resultN = result*1;
			finalAccount = [[${p_price}*${quantity}]];
			$(".restpoint").text(result);
			$(".finalAccount").text([[${p_price}*${quantity}]]);
			if(resultN<finalAccount){
				$(".dontUsePoint").text("※잔여 포인트 부족으로 포인트 구매 불가능합니다.");
				$("input:radio[name=usePoint]").attr("disabled", true); //비활성화
			}
		},
		error: function() {
			alert("에러입니다");
		}
	})
	</script>
	<script th:inline="javascript">	
	$("input:radio[name='usePoint']").click(function() {
		if($("input[name='usePoint']:checked").val() =='disusePoint'){
			$.ajax({
				url: '/restPoint', //Controller에서 요청 받을 주소
				type: 'post', //POST 방식으로 전달
				data: {
					id: [[${id}]]
				},
				success: function(result) { //컨트롤러에서 넘어온 cnt값을 받는다 
					$(".restpoint").text(result);
					$(".finalAccount").text([[${p_price}*${quantity}]]);
					$("#frm").attr("action", "/buyProduct");
				},
				error: function() {
					alert("에러입니다");
				}
			})
		}else if($("input[name='usePoint']:checked").val() =='usePoint'){
			$.ajax({
				url: '/afterRestPoint', //Controller에서 요청 받을 주소
				type: 'post', //POST 방식으로 전달
				data: {
					id: [[${id}]],
					minusPoint : [[${p_price}*${quantity}]]
				},
				success: function(result) { //컨트롤러에서 넘어온 cnt값을 받는다 
					$("#usingPoint").val([[${p_price}*${quantity}]]);
					$(".restpoint").text(result);
					$(".finalAccount").text('0');
					$("#frm").attr("action", "/buyUsePointProduct");
				},
				error: function() {
					alert("에러입니다");
				}
			})
		}
	});
	</script>
</body>
</html>