<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<!-- 사이 공간 -->
		<!-- <div class="w3-panel"></div>  -->
	<div th:fragment="footer">
<footer class="w3-container w3-black w3-large" id="footer">
  <div id="footer-contents">
    <ul class="footer-css" style="margin-top: 50px">
      <li>회사소개</li>
      <li>인재채용</li>
      <li>클린펄스카</li>
      <li>지점안내</li>
      <li>매매지원</li>
      <li>이용약관</li>
      <li>고객센터</li>
      <li>개인정보처리방침</li>
    </ul>
    <ul id="footer-sns">
      <li><i class="fab fa-facebook w3-xlarge"></i></li>
      <li><i class="fab fa-twitter w3-xlarge"></i></li>
      <li><i class="fab fa-instagram w3-xlarge"></i></li>
      <li><i class="fab fa-discord w3-xlarge"></i></li>
    </ul>
    <hr />
    <p class="w3-center">
      O2O를 잇는 신뢰와 기술로 차량을 사고 파는 모습의 진화를 만듭니다.
    </p>
    <ul class="footer-css" style="margin: 30px 0 5px 0">
      <li>고객센터 : 1111-2222</li>
      <li>FAX : 032-111-2222</li>
      <li>대표메일 : support@pulsecar.com</li>
      <li>주소 : 캘리포니아 말리부 어느 해변 옆 사무실</li>
    </ul>
    <ul class="footer-css" style="margin: 0 0 50px 0">
      <li>사업자 등록번호 : 111-22-33333</li>
      <li>통신판매업신고 : 제2022-505</li>
      <li>대표자 : 토니 스타크</li>
      <li>Copyright 🚙 펄스카닷컴(주)</li>
    </ul>
  </div>
</footer>
