<div th:fragment="quick_list">
<div class="quick_list">
  <ul class="w3-center">
    최근본차량
  </ul>
  <ul>
    <li>
      <a href="">
        <img src="images\ev2.jpg" />
        <ul>
          <li>
            <span>브랜드{}</span>
            <span style="font-weight: bold">모델명{}</span>
            <span>상세모델{}</span><br />
            <span>년식{}</span>
            <span>키로수{}km</span><br />
            <span style="font-weight: bold">가격{}만원</span>
          </li>
        </ul>
      </a>
    </li>
    <li>
      <a href="">
        <img src="images\index_img\index_car_img\e-tron.png" />
        <ul>
          <li>
            <span>브랜드{}</span>
            <span style="font-weight: bold">모델명{}</span>
            <span>상세모델{}</span><br />
            <span>년식{}</span>
            <span>키로수{}km</span><br />
            <span style="font-weight: bold">가격{}만원</span>
          </li>
        </ul>
      </a>
    </li>
    <li>
      <a href="">
        <img src="images\ev2.jpg" />
        <ul>
          <li>
            <span>브랜드{}</span>
            <span style="font-weight: bold">모델명{}</span>
            <span>상세모델{}</span><br />
            <span>년식{}</span>
            <span>키로수{}km</span><br />
            <span style="font-weight: bold">가격{}만원</span>
          </li>
        </ul>
      </a>
    </li>
    <li>
      <a href="">
        <img src="images\ev2.jpg" />
        <ul>
          <li>
            <span>브랜드{}</span>
            <span style="font-weight: bold">모델명{}</span>
            <span>상세모델{}</span><br />
            <span>년식{}</span>
            <span>키로수{}km</span><br />
            <span style="font-weight: bold">가격{}만원</span>
          </li>
        </ul>
      </a>
    </li>
  </ul>
</div>
</div>