<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>PulseCar</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" />
       <script
      src="https://kit.fontawesome.com/9d7a2afbd4.js"
      crossorigin="anonymous"
    ></script>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" th:href="@{/css/w3.css}" />
    <link rel="stylesheet" th:href="@{css/cgoing.css}" />
    <link rel="stylesheet" th:href="@{css/jsk.css}" />
    <script src="js/custom.js"></script>
    <script src="js/w3.js"></script>
    <script src="js/cgoing.js"></script>
     <script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
  </head>
  <body>
    <div id="wrapper">
      <!-- common 헤더 -->
      <div th:insert="common_header.html :: header"></div>

      <!-- banner -->
      <div
        class="flex-container flex-center w3-large lnb-margin w3-padding w3-light-grey">
        <a th:href="@{car(userid=${session.loginUser.id})}">전기차 거래 플랫폼</a>
      </div>

      <div id="mypage_main" class="PR" style="padding-bottom:200px">
        <!-- Grid Column(2/12) -->
        <!-- 사이드바 영역 -->
        <div id="mypage_side">
           <div th:insert="common_sidebar_mypage.html :: mypage_side"></div>
        </div>
        <!-- Grid Column(10/12) -->
        <!-- 마이페이지 영역 -->
        <div class="w3-padding" id="mypage_contents">
          <!-- 회원 설명 -->
          <div class="w3-container">
          <th:block th:if="${session.loginUser!= null}">
          <input type="hidden" id="userId" th:value="${session.loginUser.id}"/>
							<span th:text="|${session.loginUser.name}님은|"></span>
							<span th:if="${session.loginUser.lv == 1}"> <span
								class="w3-text-blue" th:text="[일반회원]"></span>
							</span>
							<span th:if="${session.loginUser.lv == 2}"> <span
								class="w3-text-deep-orange" th:text="[우수회원]"></span>
							</span>
							<span th:if="${session.loginUser.lv == 3}"> <span
								class="w3-text-green" th:text="[관리자]"></span>
							</span>
							입니다.
			</th:block>
            <button class="w3-right cursor w3-large w3-round w3-right">
              내차 팔기
            </button>
          </div>
          <!-- 회원 정보 -->
           <th:block th:if="${session.loginUser!= null}">
          <div
            class="w3-container w3-padding w3-border-bottom"
            style="position: relative">
            <span class="w3-large font-bold w3-margin-right">회원정보</span>
            <span th:text="|${session.loginUser.phone}|" class="partition-right"></span>
            <span th:text="|이메일 : ${session.loginUser.email}|"></span>
            <button class="cursor w3-large w3-round w3-right" 
            	style="
                vertical-align: middle;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);" 
                th:onclick="|location.href='@{updateUserInfoForm(loginId=${session.loginUser.id})}'|">
              회원정보 수정
            </button>
            
          </div>
          </th:block>
          <div class="mypageCarStatus w3-margin-top">
            <div>
              <p class="w3-xlarge">내 차 구매</p>
              <p class="w3-large w3-border-bottom w3-margin">찜한 차량</p>
              <div class="w3-section w3-large">
                <!-- 동적으로 바뀌는 부분 -->
                <!-- 없을 경우 -->
                <th:block th:if="${carpick==null}">
                <div class="w3-center">
                  <span style="color: red">찜한 차량</span>이 없습니다.
                </div>
                </th:block>
                <!-- 있을 경우 -->
                <th:block th:unless="${carpick==null}">
                  <!-- 찜한 차량 정보 -->
                <div style="display: flex;  padding: 10px;   justify-content: space-between; flex-wrap: wrap" >
                  <th:block th:each="carpick : ${carpick}">
                  <div id="carPickList" style="flex-basis: 47%">
                    <a th:href="@{car_detail(userid=${session.loginUser.id},num=${carpick.c_num})}">
                    <img
                      th:src="@{/image/__${carpick.img_dir_1}__}"
                      style="width: 100%; padding: 10px" />
                      <div style="text-align: center;">
                    <span th:utext="${carpick.c_brand}" style="font-size: 13px;">{제조사}</span>
                    <span th:utext="${carpick.c_name}" style="font-size: 15px; font-weight: bold;">{차이름}</span>
					<span th:utext="${carpick.c_grade}" style="font-size: 13px;">{등급}</span>
                    <p th:utext="${#numbers.formatInteger(carpick.cp_price, 3, 'COMMA')}+'원'" style="font-size: 13px; font-weight: bold;">{가격}}</p>
                  </div>
                  </a>
                  </div>                    
				</th:block>
                  </div>
                </div>
                </th:block>
              </div>
            </div>
          </div>
        </div>
   <div class="quick_list">
				<ul class="w3-center">최근본차량</ul>
				<ul>
					<li><span id="storage1" class="quick"></span> </li>
					<li><span id="storage2" class="quick"></span></li>
					<li><span id="storage3" class="quick"></span></li>
					<li><span id="storage4" class="quick"></span></li>
				</ul>
			</div>

      <!-- common 푸터 -->
     <div th:insert="common_footer.html :: footer"></div>
    </div>
   <script th:inline="javascript">
 	
	var id = [[${session.loginUser?.id}]];
	
	switch (localStorage.length) {
	case 5:
	case 4:
		$.ajax({
			type: 'post',
			url: './car_img',
			data: {
				c_num: localStorage.getItem('carstorage4')
			},
			success: function(result) {	
				console.log(result);
				$("#storage4").html("<a href=car_detail?num="+localStorage.getItem('carstorage4')+"&userid="+id+">"+localStorage.getItem('carstorage4')+"<img src="+"/image/"+ result +"/>"+"</a>");
			console.log(result);
			}
		});
	case 3:
		$.ajax({
			type: 'post',
			url: './car_img',
			data: {
				c_num: localStorage.getItem('carstorage3')
			},
			
			success: function(result) {		
				console.log(result);
				$("#storage3").html("<a href=car_detail?num="+localStorage.getItem('carstorage3')+"&userid="+id+">"+localStorage.getItem('carstorage3')+"<img src="+"/image/"+ result +"/>"+"</a>");
				console.log(result);
			}
		});
	case 2:
		$.ajax({
			type: 'post',
			url: './car_img',
			data: {
				c_num: localStorage.getItem('carstorage2')
			},
			success: function(result) {		
				console.log(result);
				$("#storage2").html("<a href=car_detail?num="+localStorage.getItem('carstorage2')+"&userid="+id+">"+localStorage.getItem('carstorage2')+"<img src="+"/image/"+ result +"/>"+"</a>");
				console.log(result);
			}
		});
	case 1:
		$.ajax({
			type: 'post',
			url: './car_img',
			data: {
				c_num: localStorage.getItem('carstorage1')
			},
			success: function(result) {		
				console.log(result);
				$("#storage1").html("<a href=car_detail?num="+localStorage.getItem('carstorage1')+"&userid="+id+">"+localStorage.getItem('carstorage1')+"<img src="+"/image/"+ result +"/>"+"</a>");
				console.log(result);
			}
		});
	}
	console.log(localStorage.length);
</script>
  </body>
</html>