	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>EV Life</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet"
		th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" />
	<link rel="stylesheet" th:href="@{/css/w3.css}" />
	<link rel="stylesheet" th:href="@{/css/cgoing.css}" />
	<link rel="stylesheet" th:href="@{/css/jsk.css}" />
	<script type="text/javascript" th:src="@{/js/w3.js}"></script>
	<script type="text/javascript" th:src="@{/js/cgoing.js}"></script>
	</head>
	<body>
		<div class="flex-perfectCenter">
			<div id="wrap_loginForm" class="w3-padding">
				<div class="w3-center" style="margin-bottom: 50px">
					<h1 id="logo_lighting">
						<a href="/">PulseCar</a>
					</h1>
				</div>
				<div class="w3-center">
					<h3>Login to PulseCar</h3>
				</div>
				<!-- 멤버타입 체인지 -->
				<div class="w3-bar selectMemberType">
					<button id='normal' style="width: 50%">일반사용자</button>
					<button id='dealer' style="width: 50%">딜러</button>
				</div>
				<!-- 일반사용자용 비밀번호 변경 -->
				<form th:action="@{/changePw}" method="post" class="w3-large"
					id="userForm">
					<div>
						<label for="id">아이디</label> 
						<input class="w3-input" type="text" th:value="${id}" name="id" id="id" required readonly/>
					</div>
					<div class="w3-margin-top">
						<label for="pw">이메일</label> 
						<input class="w3-input" type="email" th:value="${email}" name="email" id="email" required disabled/>
					</div>
					<div class="w3-margin-top">
					<input type="text" id="email_auth_key" th:value="${email_auth_key}" disabled/> 
					<input type="button" value="인증코드 받기" class="email_auth_btn; test"/>
					</div>
					
					<div class="w3-margin-top">
            		<label>새 비밀번호</label>
            		<input class="w3-input" type="text" name="changePw" />
          			</div>
					
					<!-- <input type="text" name = "changePw" placeholder="변경하실 비밀번호 입력"/> --><div class="w3-panel w3-margin-top">
						<button class="c-button w3-large w3-black w3-round w3-block">비밀번호 변경</button>
					</div>
				</form>
				<div class="w3-panel w3-center">
					<p>
						New to PulseCar? Create an 
						<a href="signupForm" class="anchorUnderline">account</a>
					</p>
				</div>
			</div>
		</div>
		<script>
			document.getElementById('normal').classList.add("activeMemberType");
		</script>
	</body>
	</html>
