<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 수정페이지</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/w3.css}" />
<link rel="stylesheet" th:href="@{/css/w3-theme-ev.css}" />
<link rel="stylesheet" th:href="@{/css/cgoing.css}" />
<script type="text/javascript" th:src="@{/js/w3.js}"></script>
</head>
<body>
	<div class="w3-auto">
		<!-- common 헤더 -->
		<div th:replace="common_header :: header"></div>

		<section class="w3-row">
			<!-- Grid Column(2/12 : Left) -->
			<div class="w3-col m2 l2">
				<!-- common 사이드바 -->
				<!-- <div th:replace="common_sidebar :: header"></div> -->
			</div>
			<!-- Grid Column(10/12 : Right) -->
			<div id="detail" class="w3-col m10 l10">
				<!-- common 자유게시판 -->
				<!-- <div th:replace="common_bbs_free :: header"></div> -->
				<div class="w3-panel w3-bottombar">
					<p class="w3-large">상품수정</p>
				</div>
				<!-- 글쓰기 폼 -->
				<form th:action="@{productupdate}" method="post"
					enctype="multipart/form-data">
					<input type="hidden" name="list" value="p_date" /> <input
						type="hidden" name="p_num" th:value="${p_num}" />
					<table class="w3-table w3-bordered">
						<tr>
							<td>상품이름</td>
							<td><input type="text" name="p_name"
								class="w3-input w3-border" th:value=${p_name} required /></td>
						</tr>
						<tr>
							<td>가격</td>
							<td><input type="text" name="p_price"
								class="w3-input w3-border" th:value=${p_price} required /></td>
						</tr>
						<tr>
							<td>재고</td>
							<td><input type="text" name="p_stock"
								class="w3-input w3-border" th:value=${p_stock} required /></td>
						</tr>
						<tr>
						<tr>
							<td>카테고리</td>
							<td><input type="text" name="p_category"
								class="w3-input w3-border" th:value=${p_category} required /></td>
						</tr>
						<tr>
							<td>내용</td>
							<td><input type="text" class="w3-input w3-border"
								name="p_content" th:value=${p_content} required></td>
						</tr>
						<tr>
							<td>이미지 첨부</td>
							<td><input type="file" name="file" required="required"/></td>
						</tr>
					</table>
					<!-- 버튼 -->
					<div class="w3-panel w3-right">
						<input type="submit" value="상품수정"
							class="w3-button w3-border w3-border-theme w3-round" />
						<button
							class="w3-button w3-white w3-border w3-border-theme w3-round"
							th:onclick="|location.href='@{shop(list=p_num)}'|">취소하기
						</button>
					</div>
				</form>
			</div>
		</section>
		<!-- common 푸터 -->
		<div th:replace="common_footer :: footer"></div>
	</div>
</body>
</html>