<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="w3-center">
          <h2>비밀번호 찾기</h2>
        </div>
	<form th:action="@{/updatePw}" method="post" class="w3-large">
         <div>
            <label for="id">아이디</label>
            <input class="w3-input" type="text" name="id" required />
          </div>
          <div class="w3-margin-top">
            <label for="email">이메일</label>
            <input
              class="w3-input"
              type="email"
              name="email"
              required />
          </div>
          <div class="w3-panel w3-margin-top">
            <button class="c-button w3-large w3-black w3-round w3-block">
              찾기
            </button>
            <button class="c-button w3-large w3-black w3-round w3-block">
              찾기
            </button>
          </div>
        </form>
</body>
</html>